﻿@model IEnumerable<Ares_TestAbmClientes.Models.Cliente> 
@{ 
    ViewData["Title"] = "Ultimos Clientes";
}

<h2>@ViewData["Title"]</h2>
<ul>
    @foreach (var Cliente in Model)
    {
    <li>
        <h3>@Cliente.Nombre<a href="/Clientes/EsteCliente/@Cliente.Id">Ir</a></h3>
        <h3>@Cliente.Nombre<a href="/ClientesMAL/EsteCliente/@Cliente.Id">IrMAL</a></h3>
        <h3>@Cliente.Nombre<a asp-controller="Clientes" asp-action="VerCliente" asp-route-Id="@Cliente.Id">IrHelper</a></h3>
        <div>
            @Cliente.Apellidos
            @Cliente.Edad
            @Cliente.FechaNacimiento
        </div>
    </li>
    }
</ul>